pre {
  overflow: auto;
}


#twitter-widget li {
  list-style: none;
  margin: 2px;
  border-bottom: 1px solid gray;  
}

#twitter-widget ul {
  margin: 0px;  
}

#twitter-widget .user {
  color: blue;
}