---
layout: default
---

<h1> {{ page.title }} </h1>

{{ content }}
    
    <!-- Digg + Reddit + Dzone widget
    <div style='float:right; margin-left:10px;'>
        <script type='text/javascript'>var dzone_url = "{{ post.url }}"; var dzone_title = "{{ post.title }}"; var dzone_blurb = "{{ post.title }}"; var dzone_style = "";</script>
        <script language='javascript' src='http://widgets.dzone.com/widgets/zoneit.js'></script>         
        <script>reddit_url="{{ post.url }}"; reddit_title="{{ post.title }}";</script>
        <script language='javascript' src='http://reddit.com/button.js?t=2'></script>     
    </div>
     -->

  <!--
  <div class="widgetbar span-4 last">      
      <div id="twitter_div" class="span-4">
        <h3>Related tweets</h3>     
        <ul id="twitter_update_list"></ul>
        <a id="twitter-link" style="display:block;text-align:right;" href="http://twitter.com/jsuereth">follow jsuereth on Twitter</a>
          <script src="/javascript/twitter-helper.js" type="text/javascript"></script>
          <script src="http://search.twitter.com/search.json?q={{ post.categories | join: '+' }}&callback=twitterCallback2&count=2" type="text/javascript"></script>
      </div>
  </div>
  -->
  
